[animateonscroll] {
    transition-duration: $animation-duration;
    transition-delay: $animation-delay;
	backface-visibility: hidden;
	transition-property: transform;
	transform: perspective(2000px) rotateY(-$flip-rotate);
}

[animateonscroll].animateonscroll-animate,
body.animateonscroll-disabled [animateonscroll] {
    transform: none;
}