.btn {
	@include button-reset;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-family: $font-family-headings;
	border: $border-base;
	border-radius: $form-element-radius;
	padding: 0.5em 1em;
	&--alt {
		border: $border-base-alt;
		color: $color-headings-alt;
	}
	&--secondary {
		background-color: transparent;
	}
	&--large {
		font-size: $font-size-h2;
		span {
			@include underline-hover(2px);	
		}
	}
	&:active {
		transform: translateY(1px);
		filter: saturate(150%);
	}
	span {
		@include underline-hover(1px);
	}
}