.background-1 {
	background-color: $colour-1;
}
.background-2 {
	background-color: $colour-2;
	color: $color-text-alt;
}
.background-3 {
	background-color: $colour-3;
}
.background-4 {
	background-color: $colour-4;
}
.background-white {
	background-color: white;
}
.background-zigzag1 {
	background: repeating-linear-gradient(
		30deg,
		white,
		white 10px,
		$colour-3 10px,
		$colour-3 40px
		) fixed;
}
.background-zigzag2 {
	background: repeating-linear-gradient(
		280deg,
		white,
		white 10px,
		$colour-2 10px,
		$colour-2 40px
		) fixed;
}
