.background-1 {
	background-color: $colour-1;
}
.background-2 {
	background-color: $colour-2;
	color: $color-text-alt;
}
.background-3 {
	background-color: $colour-3;
}
.background-4 {
	background-color: $colour-4;
}
.background-white {
	background-color: white;
}
