.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: $content-padding-xs;
	@include responsive('sm') {
		padding: $content-padding-sm;
	}
	@include responsive('md') {
		padding: $content-padding-md;
	}
	@include responsive('lg') {
		padding: $content-padding-lg;
	}
	&--space-between {
		justify-content: space-between;
	}
}

.content-border {
	box-sizing: border-box;
	border-right: black 10px solid;
	border-left: black 10px solid;
	&:last-child {
		border-right: 0;
	}
	&:first-child {
		border-left: 0;
	}
}