.image-switcher,
.image-switcher img {
    height: 190px;

    @include responsive('sm') {
        height: 273px;
    }
}

.image-switcher {
    z-index: 2;
    padding: 8px;
    @include corner-borders($colour-3);

    img:last-child {
        display: none;
    }

    &:hover {
        img:first-child {
            display: none;
        }

        img:last-child {
            display: block;
        }
    }
}