.image-switcher {
    z-index: 2;
    @include corner-borders($colour-3);
	
    img {
		height: 190px;
        @include responsive('sm') {
            height: 273px;
        }
    }

    img:last-child {
        display: none;
    }

    &:hover {
        img:first-child {
            display: none;
        }

        img:last-child {
            display: block;
        }
    }
}