.image-switcher {
	z-index: 2;
	height:273px;
	@include corner-borders($color-headings);
	img:last-child {
		display: none;
	}
	&:hover {
		img:first-child {
			display: none;
		}
		img:last-child {
			display: block;
		}
	}
}