.section {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	@include responsive('sm') {
		flex-wrap: nowrap;
	}
	nav,
	article,
	aside {
		flex: 1 1 100%;
		@include responsive('sm') {
			flex: 1 1 50%;
		}
	}
	&--border {
		border-top: $border-thick;
		border-bottom: $border-thick;
	}
	&--1 {
		height: 100vh;
	}
	&--2 {
		background-color: $colour-4;
	}
	&--3 {
		background-color: $colour-1;
	}
	&--4 {
		height: 100vh;
		background: repeating-linear-gradient(
			280deg,
			white,
			white 10px,
			$colour-2 10px,
			$colour-2 40px
			) fixed;
	}
}
.intro {
	height: 100vh;
}