.nav {
	border: $border-base;
	padding: 4px;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		li {
			display: inline;
			padding:10px;
			font-size: $font-size-nav;
			font-family: $font-family-nav;
			color: $color-nav;
			a {
				@include underline-hover(2px, $color-nav);
				text-decoration: none;
				color: $color-nav;
			}
		}
	}
}
.nav-container {
	padding: $content-padding-xs;
	@include responsive('sm') {
		padding: $content-padding-sm;
	}
}