.p-small {
	padding: $content-padding-xs/2!important;
	@include responsive('sm') {
		padding: $content-padding-sm/2!important;
	}
	@include responsive('md') {
		padding: $content-padding-md/2!important;
	}
	@include responsive('lg') {
		padding: $content-padding-lg/2!important;
	}
}
.p-normal {
	padding: $content-padding-xs!important;
	@include responsive('sm') {
		padding: $content-padding-sm!important;
	}
	@include responsive('md') {
		padding: $content-padding-md!important;
	}
	@include responsive('lg') {
		padding: $content-padding-lg!important;
	}
}