.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5 {
    color: $colour-headings;
    font-family: $font-family-headings;

    a {
        color: $colour-headings;

        &:visited,
        &:hover,
        &:focus {
            color: $colour-headings;
            text-decoration: none;
        }
    }
}

.h1,
h1 {
    font-size: 1.2em;

    @include responsive(sm) {
        font-size: 1.4em;
    }
    @include responsive(md) {
        font-size: 1.8em;
    }
    @include responsive(lg) {
        font-size: 2em;
    }
}

body {
    font-family: $font-family-base;
}

p {
    max-width: 50em;
    line-height: 1.5em;
}

a {
    color: $colour-text;

    &:visited,
    &:hover,
    &:focus {
        color: $colour-text;
        text-decoration: none;
    }
}