.h1,
.h2,
.h3,
.h4,
.h5 {
    color: $color-headings;
    font-family: $font-family-headings;

    a {
        color: $color-headings;

        &:visited,
        &:hover,
        &:focus {
            color: $color-headings;
            text-decoration: none;
        }
    }
}

.h1,
h1 {
    font-size: 1.5em;

    @include responsive(sm) {
        font-size: 1.6em;
    }

    @include responsive(md) {
        font-size: 1.8em;
    }

    @include responsive(lg) {
        font-size: 2em;
    }
}

body {
    font-family: $font-family-base;
}

p {
    max-width: 50em;
    line-height: 1.5em;
}

a {
    color: $color-text;

    &:visited,
    &:hover,
    &:focus {
        color: $color-text;
        text-decoration: none;
    }
}