//Sizes
$font-size-base: 13px;
$font-size-h4: $font-size-base;
$font-size-h3: $font-size-base * 1.2;
$font-size-h2: $font-size-base * 1.6;
$font-size-h1: $font-size-base * 2;
$font-size-nav: $font-size-base * 1.8;

//Colors
$colour-primary: #69ddb4; 
$colour-secondary: #122C34; 

$gray-lightest: #FFFFFF;
$gray-darkest: $colour-secondary;

$colour-headings: $colour-secondary;
$colour-headings-alt: $gray-lightest;
$colour-text: $colour-secondary;
$colour-text-lighter: lighten($colour-text, 20%);
$colour-text-alt: $gray-lightest;

$colour-nav: $colour-headings;

//Fonts
$font-family-headings: 'Montserrat',
monospace;
$font-family-nav: 'Share Tech Mono',
monospace;
$font-family-base: 'Montserrat',
sans-serif;

//Borders
$border-base: $gray-darkest solid 2px;
$border-base-alt: $gray-lightest solid 2px;
$border-thick: black 20px solid;

//Padding
$content-padding-xs: 8px;
$content-padding-sm: $content-padding-xs * 2;
$content-padding-md: $content-padding-sm * 2;
$content-padding-lg: $content-padding-md * 2;

//Radius
$form-element-radius: 2px;

//Layout
$banner-height: 100%;
$portfolio-item-height: 200px;

//Animate on scroll
$animation-duration: 0.7s !default;
$animation-delay: 0s !default;
$flip-rotate: 91deg !default;