@mixin underline-hover($thickness) {
	position:relative;
	&:hover,
	&:focus {
		&:before {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
	&:before {
		content: "";
		position: absolute;
		height: $thickness;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $color-headings-alt;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
  }